RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

<FilesMatch "socket*">
  Require all denied
</FilesMatch>

RewriteCond %{HTTP_USER_AGENT} "(mobile|android|iphone|ipod|blackberry|iemobile|opera mini)" [NC]
RewriteCond %{REQUEST_URI} !^/unsupported
RewriteRule ^$ /unsupported [L,R=302]

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php